#sideMenu{
    -fx-background-color: white;
}
#pane{
    -fx-background-color: #f3f3f5;
}

/*Top-Area*/
#topContainer{
    -fx-background-color: white;
    -fx-background-radius: 8px;
}

#topIconContainer{
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 8px;
}

#topTitleText{
    -fx-font-family: "monospace ";
    -fx-text-fill: gray;
}

#topData{
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-font-family: "monospace ";
    -fx-text-fill: #3f3f3f;

}

/*------------------------------------------------------------------------------------------------------------------*/
#chartContainer{
    -fx-background-color: white;
    -fx-background-radius: 6px;
}
#pieChartContainer{
    -fx-background-color: white;
    -fx-background-radius: 6px;
}

#topSellingChannelContainer{
    -fx-background-radius: 6px;
    -fx-background-color: white;
}

#topSellingItemContainer{
    -fx-background-radius: 6px;
    -fx-background-color: white;
}

#crudPane{
    -fx-background-radius: 6px;
    -fx-background-color: white;
}

#movieIdInput{
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#movieNameInput{
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#statusComboBox{
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: white;
    -fx-border-color: #bcbcbc;
}

#categoryComboBox{
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: white;
    -fx-border-color: #bcbcbc;
}

#itemsAmountInput{
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#priceInput{
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#inventorySearchField{
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#deleteBtn{
    -fx-background-color: #c91f1f;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#updateBtn{
    -fx-background-color: #242496;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#addBtn{
    -fx-background-color: #039403;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#inventoryPage{
    -fx-background-color: #fafafd;
}

#ff{
    -fx-background-color: #ffffff;
}

/* INVENTORY TABLE STYLE*/

#inventoryTable{
    -fx-background-color: white;

}

#inventory_col_movieid{

    -fx-border-color: #b4b4b4;



}

#inventory_col_moviename{
    -fx-border-color: #b4b4b4;
}

#inventory_col_category{
    -fx-border-color: #b4b4b4;
}

#inventory_col_price{
    -fx-border-color: #b4b4b4;
}

#inventory_col_itemsInStock{
    -fx-border-color: #b4b4b4;
}

#inventory_col_status{
    -fx-border-color: #b4b4b4;
}

/*sales chart style*/

#sales_barChart{
    -fx-background-color: white;
}